

<form action="/named-cat" method="post">
    <label  for="name"> Add text here:</label><br>
    <input type="text" name="name" placeholder="Type your email" >
    <input type="submit" value="Submit">
</form>
